a:link {color:white;text-decoration:none;font-variant: small-caps;}      /* unvisited link */
	a:visited {color:white;text-decoration:none;}  /* visited link */
	a:hover {color:white; text-decoration:none; font-weight:bold;}  /* mouse over link */
	a:active {color:white;text-decoration:none; font-weight:bold;}  /* selected link */