body {
	font-size: 20px;
	font-family:Bell MT;
	font-style:italic;
	text-align: center;
	color: gray; 
	
	background-image: url(http://farm3.static.flickr.com/2597/3726226127_46f544b3c9.jpg?v=0);
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size:100%;
	}
	
	li{
	font-style:italic;
	color:black;
	display:inline-block;
	padding: 0px 0px 20px 20px;
	height:auto;
	border:0;
	margin:0;
	}

	.menu{
	position: fixed; 
	top:400px;
	left:center;
	height:60px;
	width:100%;
	background-color: rgba(240,240,240,0.8);
	box-shadow: 0px 0px 10px 10px rgba(240,240,240,0.8);
	}
	
	.head{
	position: relative; 
	left:center;
	width:100%;
	background-color: rgba(240,240,240,0.8);
	box-shadow: 0px 0px 10px 10px rgba(240,240,240,0.8);
	}
	
	
	a:link {color:gray;text-decoration:none;}      /* unvisited link */
	a:visited {color:gray;text-decoration:none;}  /* visited link */
	a:hover {color:white; font-size:16px;text-decoration:none;}  /* mouse over link */
	a:active {color:gray;text-decoration:none;}  /* selected link */
	
	
