

body {
	font-size: 20px;
	font-family:"Bell MT";
	font-style:NONE;
	text-align: center;
	color: gray; 
	font-variant: small-caps;
	
	background-image:url("../images/mask.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:auto 100%
}
	
	.navbar-nav > li {
	line-height:10px; 
	display:inline-block;
	padding: 0px 20px 0px 20px;
	height:auto;
	border:0;
	margin:0px;
	text-align: center;
	float: center;
	}

	.navbar{
	position: relative;
	top:400px;
	margin-bottom:20px;
	top:400px;
	padding:0px 0px;
	width:100%;
	background-color: rgba(240,240,240,0.8);
	box-shadow: 0px 0px 10px 10px rgba(240,240,240,0.8);
	float: none;
	border:transparent;
	}
	
	
	.navbar-nav {
	float: center;
	height:auto;
	}
		
	.form-group{
	position:fixed;
	bottom:10px;
	display: inline-block;
    text-align: center;
	}

.dropdown-menu{
	background-color: rgba(240,240,240,0.8);
	box-shadow: 0px 0px 10px 10px rgba(240,240,240,0.8);
	float: right;
	border:transparent;
	}

	.head{
	position: relative; 
	left:center;
	width:100%;
	background-color: rgba(240,240,240,0.8);
	box-shadow: 0px 0px 10px 10px rgba(240,240,240,0.8);
	}
	
.dropdown-menu.a:link {color:gray;text-decoration:none;font-variant: small-caps;} 
.dropdown-menu.a:a:visited {color:gray;text-decoration:none;}  /* visited link */
.dropdown-menu.a:a:hover {color:gray; text-decoration:none; font-weight:bold;}  /* mouse over link */
.dropdown-menu.a:a:active {color:gray;text-decoration:none;}  /* selected link */
	
	a:link {color:gray;text-decoration:none;font-variant: small-caps;}      /* unvisited link */
	a:visited {color:gray;text-decoration:none;}  /* visited link */
	a:hover {color:gray; text-decoration:none; font-weight:bold;}  /* mouse over link */
	a:active {color:gray;text-decoration:none; font-weight:bold;}  /* selected link */
	
	 
	
	
	
	
	
	
